:root {
  --color-texto: #161616;
  --color-texto-secundario: #EDEFF0;
  --color-texto-two: #363636;
  --color-titulo: #4c531e;
  --color-fondo-primario: #edeff0;
  /* verdes*/
  --primary-verde: #4c531e;
  --secondary-verde: #a9ba18;
  --accent-verde: #879225;
  --light-verde: #bed000;
  --lighter-verde: #dbf000;
  /* grises */
  --light-gris: #edeff0;
  --gris: #b4b2b2;
  --dark-gris: #363636;
  --blanco: #ffffff;
  /*azules */
  --azul: #004884;
  --azul-claro: #e0f0ff;
  /* root andres */
  --color-primario: #bed000;
  --color-secundario: #869224;
  --color-enlaces: #515900;
  --color-fondo-seccion: #f9f9f9;
  --titulos-fuente: "Work Sans" !important;
  --titulo-estilo: 600;
  --titulo-principal-size: 2rem;
  --titulo-principal-interlineado: 2.75rem;
  --titulo-principal-size-variante: 1.5rem;
  --subtitulo-size: 1.25rem;
  --titulo-seccion-size: 1.5rem;
  --parrafo-descripcion-fuente: "IBM Plex Sans";
  --parrafo-descripcion-fuente-variante: "IBM Plex Sans"; /*si excede los 150 caracteres*/
  --parrafo-descripcion-seccion-size: 1.25rem;
  --parrafo-descripcion-seccion-size-variante: 1rem; /*si excede los 150 caracteres*/
  --parrafo-decripcion-seccion-estilo: 500;
  --parrafo-decripcion-seccion-estilo-variante: 400; /*si excede los 150 caracteres*/
  --parrafo-decripcion-seccion-interlineado: 1.875rem;
  --parrafo-decripcion-seccion-interlineado-variante: 1.375rem; /*si excede los 150 caracteres*/
  --tabla-titulo-size: 1.125rem;
  --tabla-titulo-fuente: "Work Sans";
  --tabla-titulo-estilo: 600;
  --tabla-fuente: "Work Sans";
  --tabla-encabezado-size: 1.25rem;
  --tabla-encabezado-estilo: 500;
  --tabla-cuerpo--size: 1rem;
  --tabla-cuerpo--estilo: 400;
  --caption-size: 0.875rem;
  --caption-fuente: "Work Sans";
  --caption-estilo: 400;
  --caption-interlineado: 0.75rem;
  --parrafos-fuente: "IBM Plex Sans";
  --parrafos-size: 1rem;
  --parrafo-interlineado: 1.375rem;
  --parrafos-estilos: 400;
}
